<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Search</title>
    <link rel="stylesheet" href="./css/App.css"></link>
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css" type="text/css"></link>
    <link rel="stylesheet" href="./css/carousel.css"/>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
    <script src="./bundle_dir/index.js"></script>
</html>
